<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="caramelo.com.br.mercadolivreteste">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MercadoLivreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.amount.AmountActivity"
            android:label="@string/title_activity_amount"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.payment.PaymentMethodActivity"
            android:label="@string/title_activity_payment_method"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.bank.BankActivity"
            android:label="@string/title_activity_bank"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.installment.InstallmentActivity"
            android:label="@string/title_activity_installment"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>